body {
  margin: 0;
 font-family: 'Ubuntu', sans-serif;;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* helper classes */

.font-12{
  font-size: 12px;
}
.font-13{
  font-size: 13px;
}
.font-14{
  font-size: 14px;
}
.bold-6{
  font-weight: 600;
}
.bold-7{
  font-weight: 700;
}
.bdr-b-org{
  border-bottom: 2px solid;
  border-color: #e47911;
}
.bdr-gray{
  border: 1px solid rgba(0,0,0,.125)!important;
}
.border-1{
  border: 1px solid rgb(184, 184, 184) !important;
}

.bg-orange{
  background-color:#FFA41C !important ;
}

.h-20{
  height: 20px !important;
}
.w-20{
width: 20% !important;
}
.w-40{
width: 40% !important;
}


.color-brown{
  color: #c45500!important;  
}
.color-cyne{
  color: #007185;
}
.color-gray{
  color: rgb(190, 190, 190);
}
.color-darkgray{
  color: #888!important
}



.rounded-25{
  border-radius: 25px;
}
.rounded-25-imp{
  border-radius: 25px !important;
}


@media screen and (max-width:578px){
  .font-sm-12{
    font-size: 12px;
  }
  .font-sm-13{
    font-size: 13px;
  }
  .text-sm-center{
    text-align: center;
  }
  .mx-sm-au{
    margin:0 auto !important;
  }
  .w-ml-90{
    width: 90% !important;
  }
}


.muibtn:first-child{
  color: red !important;
}


.darkMode{
  background-color: rgba(41, 40, 40, 0.74) !important;
  border-color: rgba(41, 40, 40, 0.74) !important;
  color: white !important;
}
.lightMode{
  background-color: rgba(255, 255, 255, 0.72) !important;
  border-color: rgba(255, 255, 255, 0.72) !important;
  color: black;
}

.mui-white:first-child{
color:white !important
}
.mui-dark:first-child{
color:black !important
}

.main_logo img{
  width:120px;
}
.main_logo{
  margin-top:15px ;
  align-items: center;
  margin-left: 15px;
}
.navbar2{
  height: 60px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 13px -7px;
  backdrop-filter: saturate(250%) blur(20px) !important;
}
.inputSearch,.loginInput{   
  background-color: white; 
  padding: .375rem .75rem;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 3px;
  height: 35px;
}
.inputSearch{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 275px;
}
.searchBtn{
  margin-left: 2px;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.inputSearch:focus,.loginInput:focus,.btnOrange:focus{
  border-color: #e77600;
  outline: none;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.search_form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.nav_list{
  display: flex;
  float: right;
  margin-left: 0;
  flex-direction: row;
  /* align-items: end; */
  list-style: none;
}

.btnOrange{
  display: block;
  text-align:center;
  background-color: #f0c14b;
  background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: 1px solid;
  border-color: #a88734 #9c7e31 #a7a7a7;
  margin-top: 30px;
  height: 35px;
  border-radius: 3px;
  color: #111;
}

.btnRed{
  display: block;
  text-align:center;
  background-color: #dc3545;
  background:linear-gradient(to bottom,#ea7d6b,#e42c2c);
  border: 1px solid;
  border-color: #a84234 #9c3531 #a7a7a7;
  margin-top: 30px;
  height: 35px;
  border-radius: 3px;
  color: #e4e4e4;
}

.btnNocolor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 35px;
  border: 1px solid;
  border-radius: 3px;
  background:linear-gradient(to bottom,#e7eaf0,#d9dce1);
  border-color: #adb1b8 #a2a6ac #8d9096;
}
.btnNocolor:focus{
  border-color: #e77600;
  outline: none;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
  background:linear-gradient(to bottom,#e7eaf0,#d9dce1)
}
.mainContainer{
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: rgb(243, 242, 242);
}
.LeftSideBar{
  position: fixed;
  margin-top: 70px;
  /* background-color: #fff; */
    backdrop-filter: saturate(250%) blur(20px);
    background-color: rgba(255,255,255,0.72);
  box-shadow: 0px 0px 13px -7px;
  width: 13rem;
  height: 100%;
  z-index: 100;
  /* top: 0px; */
  /* bottom: 0px;
  left: 0px; */
}
.LeftSideBar ul{
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}
.LeftSideBar ul li{
  /* margin: 15px 10px 0px; */
  width: 10rem;
  margin: 5px auto;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35px;
  border-left:7px solid transparent;
  padding-left:10px ;
}

.LeftSideBar ul li:hover{
  /* color: orange; */
  border-radius: 5px;
  color: #000;
  border-left:7px solid orange ;
  background-color: #ffefbe;
  cursor: pointer;
}
.RightContiner{
  position: relative;
  margin-left: 13rem;
  width: 100%;
  /* overflow: hidden; */
}
.banner{
  border-radius: 15px;
  width: 98%;
  height: 14rem;
  margin: auto;
}
.carousel-parent{
  margin: 8px auto;
  margin-top: 72px;
}
.nav-png{
  width: 20px;
  height: 20px;
  margin: 0px 20px;
  margin-right: 0;
  /* background-color: white; */
}
/* .searchBtn{
  width: 20px;
  height: 20px ;
} */
.categiresPng{
  width: 50px;
  height: 50px;
  margin: 20px 10px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 7px;
}
.item{
  margin:0px 10px;
  padding: 20px;
  padding-top: 0;
  /* margin: 8px; */
  text-align: center;
}
.itemPng{
  /* width: 200px; */
  margin-top: 10px;
  height: 140px;
  
}
.individualItem{
  border-radius: 20px;
  background-color: white;
  margin: 7px;
  text-align: center;
}
.like-png{
  width: 20px;
  height: 20px;
  margin: 0px 87px;
  margin-right: 0;
  float: right;
  /* background-color: white; */
}
.star_para{
  font-size: 13px;
  margin-bottom: 5px;
}
.centerContainer{
  display: flex;
    flex-direction: column;
    width: 23rem;
    margin: 4rem auto;
  }
.loginForm{
    display: flex;
    border: 1px solid rgb(197, 197, 197);
    flex-direction: column;
    border-radius: 4px;
    padding: 2rem;
}
.newToAmazon{
margin:10px 0;
display: flex;
text-align: center;
justify-content: center;
align-items: center;}

.newToAmazon hr{
  width: 30%;
}

.lable{
font-weight:500;
font-size:13px;
margin: 2px;
}
.seeFullItem{
  display: flex;
  margin: 15% auto;
  width: 15rem;
}
.allDetails{
  padding: 3rem;
 position: initial;
}
.linkDecoretionNone{
  text-align: center;
  color: #000;
  text-decoration: none;
}
.linkDecoretionNone:hover{
  color: black;
}

.cursor{
  cursor: pointer;
}

.nav-link{
  color:#000!important;
}
#root::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:700px){
  .LeftSideBar{
    display: none;
  }
  .RightContiner{
    margin-left: 0;
  }
  .banner{
    width: 98%;
    height: 11rem;
  }

  #navbar_ul{
    margin-top: auto!important;
  }
  .nav-link{
    padding: 0 !important;
    float: right;
    width: 100%;
  }
  .like-png{
    float: right;
    margin-top: 10px;
  }
  .nav_list{
    justify-content: right !important;
    margin-right: 1rem !important;
    width: 100%;
  }
  .centerContainer{
    display: flex;
    justify-content: center;
    height: 70vh;
  }
  .prodContainer{
    flex-direction: column !important;
  }
  .seeFullItem{
    margin: 10% auto;
  }
  .allDetails{
    text-align: center;
    padding: 1rem;
  }
  .shopCartProdImg{
    width: 180px!important;
  }
}
@media screen and (max-width:400px){
  .centerContainer{
    width: 90%;
  }
}
@media screen and (max-width:978px){
  .search_form{
    display: none;
  }
}
@media screen and (max-width:768px){
  .fixed-right{
    position: static !important;
  } 
  
  .pngImg{
    width :350px !important;
    overflow: hidden;
  }
  .truckLoader{
    width:100%;
    height: 200px !important;
  }
  .MainLoader{
    width:100% !important;
  }
}
.like-div{
  width: 100%;
}
.SeeProdSideBar{
  width: 100% !important;
  background-color: #fff;
  width: 50%;
}
.prodContainer{
  display: flex;
  position: static;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 70px !important;
  background-color: rgb(243, 242, 242);
}
.Link{
  text-decoration: none;
}

.btn-white{
  box-shadow: none !important;
}
.btn-white:hover{
background-color: #eefbfd;
}

















#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455A64;
  padding-left: 0px;
  margin-top: 50px
}

#progressbar li {
  text-align: center;
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #455A64 !important
}

#progressbar #step1:before {
  content: "1";
  font-size:15px;
  font-weight: 600;
  color: #fff;
  width: 40px;
text-align: center;
  margin:auto
}

#progressbar #step2:before {
  content: "2";
  font-size:15px;
  font-weight: 600;
  color: #fff;
  width: 40px;
  margin:auto
}
#progressbar #step3:before {
  content: "3";
  font-size:15px;
  font-weight: 600;
  color: #fff;
  width: 40px;
  margin:auto
}

#progressbar #step4:before {
  content: "4";
  font-size:15px;
  font-weight: 600;
  color: #fff;
  width: 40px;
  width: 40px;
  text-align: center;
  margin:auto
}

#progressbar li:before {
  line-height: 40px;
  display: block;
  font-size: 12px;
  background: rgb(235, 235, 235);
  border-radius: 50%;
}

#progressbar li:after {
  content: '';
  width: 50%;
  height:10px;
  background: rgb(235, 235, 235);
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1
}

#progressbar li:nth-child(2):after {
  left: 50%;
  width: 100%
}

#progressbar li:nth-child(1):after {
  left: 45%;
  width: 100%;
}

#progressbar li:nth-child(3):after {
  left: 25% !important;
  width: 100%;
}
#progressbar li:nth-child(4):after {
width: 50%;

}

#progressbar li.active:before,
#progressbar li.active:after {
  background: orange
}
.green-card{
  box-shadow: inset 0px 0px 9px 0px green;
}
.trackTable td{
display: flex;
justify-content: space-between;
}
.trackTable hr{
  height: 0.8px !important;
margin: 13px auto;
}





.chat-window{
  /* background-color: rgb(235, 235, 235); */
  background-image: url("http://localhost:3000/img/chat.jpg");
  background-size: contain;
  /* background-color:#f5fff5 !important; */
  width: 60%;
  overflow-y:scroll;
}
.right-chat-parent{
  display: flex;
  justify-content: end;
}
.left-chat-parent{
  display: flex;
  justify-content: start;
}
.right-chat{
  padding-left: 20px !important;
  background-color:#ffcd91;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  width: 50%;
  padding: 8px;
  margin: 12px;
}
.left-chat{
  background-color:rgb(235, 235, 235);
  border-radius: 25px;
  border-bottom-left-radius: 0;
  width: 50%;
  padding: 8px;
  margin: 12px;
}


body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



/* cartcomp css */

.form-check-input{
  box-shadow: none !important;
}
.form-check-input:checked{
  background-color: #007185 !important;
}
.form-check-input:checked:hover{
  background-color: #2796aa !important;
}

.vr{
  height: 15px !important;
}
.accordion-button{
  padding: 10px 10px !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed){
  color: #000 !important;
  background-color: transparent !important;
}
.fixed-right{
  position: fixed;
  right: 0;
}

.swal2-confirm{
  font-weight: 400!important;
  color: #000 !important;
  background-color: #f0c14b !important;
  background:linear-gradient(to bottom,#f7dfa5,#f0c14b) !important;
  border: 1px solid !important;
  border-color: #a88734 #9c7e31 #a7a7a7!important;
  box-shadow: none !important;
  padding: 5px 20px!important;
}

.swal2-cancel{
  font-weight: 400!important;
  border: 1px solid!important;
  border-radius: 3px!important;
  color: #000 !important;
  background:linear-gradient(to bottom,#e7eaf0,#d9dce1)!important;
  border-color: #adb1b8 #a2a6ac #8d9096!important;
  padding: 5px 20px!important;
  box-shadow: none !important;
}

.sweet-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.truckLoader{
  width: 80%;
  height:250px;}

  .MainLoader{
    width:600px;
  }
.ml-4{
  margin-left: 30px ;
}
